<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
       " default-autowire="byName">

    <!--加载属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <context:component-scan base-package="test.service.impl"/>

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>

    <bean id="factory123" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="typeAliasesPackage" value="test.pojo"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
        <property name="basePackage" value="test.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="factory123"/>
    </bean>
    <bean id="userService" class="test.service.impl.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <bean id="mybefore" class="test.advisor.MyAdvisor"/>
    <bean id="myafter" class="test.advisor.MyAfter"/>
    <!--Default Autowire-->

    <bean id="people" class="ssm.pojo.People"/>
    <bean id="teacher" class="ssm.pojo.Teacher" >
        <property name="name" value="test" />
        <property name="id" value="12"/>
    </bean>
    <bean id="user" class="test.pojo.User"/>
    <bean id="txmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <!--
        <tx:advice transaction-manager="txmanager" id="myadvice">
        <tx:attributes>
            <tx:method name="insert" />
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut expression="execution(* test.service.impl.UserServiceImpl.*.*(..))" id="mypoint"/>
        <aop:advisor advice-ref="myadvice" pointcut-ref="mypoint"/>
        <aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/>
    </aop:config>
    -->

</beans>